# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Some popular languages in Data Science
+ Some commonly use Librabries in Data Science 
+ Some arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Panda
3. Apache Spark

|Data Science Tools|
-----------------
|My SQL|
|Apache Airflow|
|Pixie Dust|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
 Bilal Nadeem